# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Lenovo\Desktop\ФИСУНОВ\Нормальная Spring 1 Александр Фисунов\Classwork\hw4\spring-mvc-data\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
